@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

.card{
    width: 350px;
    height: 650px;
}

.star:hover{
    cursor: pointer;
}